{% extends 'baseAutenticacion.html' %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<section id="hero">
  <div class="hero">
    <h1 class="hero-title">Creacion de orden</h1>
    <h3 class="hero-subtitle">Selecciona tus componentes paso a paso</h3>
  </div>
</section>

<section id="crear-orden">
  <br>
  <div class="form_forma">
    {% if step == 1 %}
      <form method="get" action="/add">
        <div style="display: flex; justify-content: center; align-items: center;">
          <label>Nombre de la orden:</label>
          <input type="text" name="nombre_orden" required><br><br>
        </div>
        <br>
        <div style="display: flex; justify-content: center; align-items: center;">
            <label>Selecciona la placa madre:</label>
          <select name="motherboard_id" required>
            {% for mb in motherboards %}
              <option value="{{ mb.id }}">{{ mb.marca }} - {{ mb.modelo }} ({{ mb.socket }}, {{ mb.tipo_ram }})</option>
            {% endfor %}
          </select>
        </div>
        <br><br>
        

        <button type="submit">Elegir placa</button>
      </form>
    {% elif step == 2 %}
      <form method="post" action="/add">
        <input type="hidden" name="motherboard_id" value="{{ motherboard.id }}">
        <label>Nombre de la orden:</label>
        <input type="text" name="nombre_orden" required><br><br>

        <h4>Placa madre elegida:</h4>
        <p>{{ motherboard.marca }} - {{ motherboard.modelo }} ({{ motherboard.socket }}, {{ motherboard.tipo_ram }})</p>
        <hr>

        <label>CPU compatible:</label>
        <select name="cpu_id" required>
          {% for cpu in cpus %}
            <option value="{{ cpu.id }}">{{ cpu.marca }} - {{ cpu.modelo }} ({{ cpu.socket }})</option>
          {% endfor %}
        </select><br><br>

        <label>RAM compatible:</label>
        <select name="ram_id" required>
          {% for ram in rams %}
            <option value="{{ ram.id }}">{{ ram.marca }} - {{ ram.modelo }} ({{ ram.tipo_ram }})</option>
          {% endfor %}
        </select><br><br>

        <label>GPU:</label>
        <select name="gpu_id" required>
          {% for gpu in gpus %}
            <option value="{{ gpu.id }}">{{ gpu.marca }} - {{ gpu.modelo }}</option>
          {% endfor %}
        </select><br><br>

        <label>Disco:</label>
        <select name="disco_id" required>
          {% for disco in discos %}
            <option value="{{ disco.id }}">{{ disco.marca }} - {{ disco.modelo }}</option>
          {% endfor %}
        </select><br><br>

        <button type="submit">Crear orden</button>
      </form>
    {% endif %}

    <form action="/menu">
      <button>Regresar</button>
    </form>
  </div>
</section>
{% endblock %}