{% extends 'baseAutenticacion.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}

<style>
  .form-container {
    max-width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 30px 40px;
    border-radius: 15px;

  }

  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    font-size: 15px;
  }

  form button {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

</style>

<section id="hero">
  <div class="hero">
    <h1 class="hero-title">Cambia tu contraseña</h1>
    <h3 class="hero-subtitle">Asegúrate de que sea segura</h3>
  </div>
</section>

{% if error %}
<section id="Lo-que-ofresemos">
  <div class="contenedor"">
    <div class="error">{{ error }}</div>
  </div>
</section>
{% endif %}
{% if success %}
<section id="Lo-que-ofresemos">
  <div class="contenedor"">
    <div class="success">{{ success }}</div>
  </div>
</section>
{% endif %}

<div class="form-container">
  <h2 style="text-align: center;">Actualizar Contraseña</h2>
  <form method="post" action="/cambiar_contraseña">
    <label>Contraseña actual</label>
    <input type="password" name="current_password" required>

    <label>Nueva contraseña</label>
    <input type="password" name="new_password" required>

    <label>Confirmar nueva contraseña</label>
    <input type="password" name="new_password2" required>

    <button type="submit">Actualizar contraseña</button>
  </form>
</div>

{% endblock %}
