{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<section id="hero">
    <div class="hero">
        <h1 class="hero-title">Iniciar Secion</h1>
        <h3 class="hero-subtitle">Inicia secion para poder acceder al resto de funcionalidades de la pagina</h3>
    </div>
</section>

{% if mensaje %}
  <div class="alert alert-success">{{ mensaje }}</div>
{% endif %}

{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}
<section id="comparison-section">
        <div class="cards-container">
                <div style="transition: none; transform: none; height: 500px;" class="card">
                    <img src="../static/img/logo1.jpg" alt="Imagen del componente" class="card-image">
                    <div class="card-content">
                    <form method="post" action="/login">
                      <label>Correo</label><br>
                      <input style="width:268px;" type="text" name="correo" required><br><br>
                      <label>Contraseña</label><br>
                      <input style="width:268px;"  type="password" name="contraseña" required><br><br>
                      <div style="display: flex; justify-content: center; align-items: center;">
                        <button type="submit">Entrar</button>
                      </div>

                    </form>
                </div>
        </div>
</section>
<div style="text-align: center;">
    <p>¿No tienes cuenta? <a href="/registro">Regístrate</a></p>
</div>

{% endblock %}
