{% extends 'base.html' %}
{% block title %}Mis Órdenes{% endblock %}
{% block content %}
<h2>Órdenes Guardadas</h2>

{% if ordenes %}
    {% for nombre, componentes in ordenes.items() %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 15px 0;">
            <h3>Orden: {{ nombre }}</h3>
            <ul>
                {% for componente in componentes %}
                    <li>
                        <strong>{{ componente.tipo }}</strong> - {{ componente.marca }} {{ componente.modelo }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <form action="/menu#Como-ayudar">
        <button>Regresar</button>
    </form>
{% else %}
  <p>No hay ordenes registradas.</p>
  <form action="/menu#Como-ayudar">
      <button>Regresar</button>
  </form>
{% endif %}
{% endblock %}
